.panel-criteria {
  .btnDeleteCriteria {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
  }

  .btnCloneCriteria {
    position: absolute;
    top: 30px;
    right: 5px;
    font-size: 20px;
  }

  .panel-criteria-preview {
    width: 95%;
  }

  position: relative;
}