<div class="panel panel-default panel-criteria">
	<div class="panel-heading" (click)="toggleCriteria()">
		<div class="panel-criteria-preview" [innerHTML]="criteria.prettyPrint() | rawHtml"></div>
		<span class="glyphicon glyphicon-trash btnDeleteCriteria" aria-hidden="true" (click)="deleteCriteria($event)"></span>
		<span class="glyphicon glyphicon-copy btnCloneCriteria" aria-hidden="true" (click)="cloneCriteria($event)"></span>
	</div>
	
	<div class="panel-body row animated" [class.hide]="!criteria.isShown">
		<div class="col-sm-4" data-section="given">
			<h3 class="text-center border-bottom">Given</h3>
			<textarea class="form-control" rows="15" [(ngModel)]="criteria.given"></textarea>
		</div>
		
		<div class="col-sm-4" data-section="when">
			<h3 class="text-center border-bottom">When</h3>
			<textarea class="form-control" rows="15" [(ngModel)]="criteria.when"></textarea>
		</div>
		
		<div class="col-sm-4" data-section="then">
			<h3 class="text-center border-bottom">Then</h3>
			<textarea class="form-control" rows="15" [(ngModel)]="criteria.then"></textarea>
		</div>
	</div>
</div>