<div class="container" [dragula]='"bag-one"' [dragulaModel]='getAllCriteria() | async'>
	<app-criteria
			*ngFor="let criteria of getAllCriteria() | async; let ndx = index"
			[criteria]="criteria" [ndx]="ndx" (onDelete)="deleteCriteria(ndx)" (onClone)="cloneCriteria($event)">
	</app-criteria>
</div>

<div class="btn-add">
	<img src="assets/round_add_box_black_36dp.png" (click)="addCriteria()">
</div>

<div class="btn-copy">
	<img src="assets/if_export-outline.png" (click)="clipboardCriteria()">
</div>