@import "../../../../../node_modules/dragula/dist/dragula.css";

.btn-add {
    font-size: 60px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.sortable-ghost {
    opacity: .2;
}

.sortable-drag {
    background: #daf4ff;
}