<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
	<nav class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					Insight
				</a>
			</div>
			
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav rx-main-navbar">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button"
						   aria-haspopup="true" aria-expanded="false">Fichier <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li (click)="newFile()"><a>Nouveau</a></li>
							<li role="separator" class="divider"></li>
							<li (click)="openFile()"><a>Ouvrir</a></li>
							<li (click)="saveFile()"><a>Enregistrer</a></li>
							<li (click)="saveFileAs()"><a>Enregistrer sous</a></li>
							<li (click)="openImportDialog()"><a>Importer</a></li>
						</ul>
					</li>
					<li class="active"><a>Editeur</a></li>
					<li><a>Prévisualisé</a></li>
					<!--<li"><a>Redmine</a></li>-->
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><p class="navbar-text">v.&nbsp;{{ version }}</p></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<app-list-criteria></app-list-criteria>
</div>

<ng-template app-dialog></ng-template>