<span class="glyphicon glyphicon glyphicon-trash" style="position: absolute; top: 5px; right: 5px;"></span>
<span class="glyphicon glyphicon glyphicon-copy"  style="position: absolute; top: 24px; right: 5px;"></span>
<p class="list-group-item-text">{{ item.prettyGiven() | safe }}</p>