<div class="editor-top row">
	<div class="col-sm-4" data-section="given">
		<h3 class="text-center border-bottom">Given</h3>
		<textarea class="form-control" rows="15">{{ item.get("given") }}</textarea>
	</div>
	
	<div class="col-sm-4" data-section="when">
		<h3 class="text-center border-bottom">When</h3>
		<textarea class="form-control" rows="15">{{ item.get("when") }}</textarea>
	</div>
	
	<div class="col-sm-4" data-section="then">
		<h3 class="text-center border-bottom">Then</h3>
		<textarea class="form-control" rows="15">{{ item.get("then") }}</textarea>
	</div>
</div>

<h2>Preview</h2>
<div class="panel panel-default">
	<div id="criteria-preview" class="panel-body"></div>
</div>