<div class="row">
	<div class="col-sm-3" id="ListPanel">
		<div class="list-group list-criteria"></div>
		<button id="btnAddCriteria" type="button" class="btn btn-default btn-block">Ajouter</button>
	</div>
	
	<div class="col-sm-9" id="EditorPanel">
	
	</div>
</div>