<div class="row">
	<div class="col-sm-6">
		<h4>Résultat</h4>
		<div id="PreviewPanel" class="panel panel-default">
			<div class="panel-body">
				{{ item | safe }}
			</div>
		</div>
	</div>
	
	<div class="col-sm-6">
		<button class="btn btn-sm btn-default pull-right btnCopyHTML"><span class="glyphicon glyphicon-copy"></span></button>
		<h4>Code</h4>
		<pre id="CodePanel"><code>{{ item }}</code></pre>
	</div>
</div>