<h3>--- WIP ---</h3>

<div class="form-group">
	<label for="inputTitre">Titre</label>
	<input type="text" class="form-control" id="inputTitre" />
</div>

<div class="form-group">
	<label for="formSelectProjet">Projet</label>
	<select id="formSelectProjet" class="form-control">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
	</select>
</div>

<div class="row">
	<div class="col-lg-8">
		<div class="form-group">
			<label for="formSelectAssignTo">Assignée à</label>
			<select id="formSelectAssignTo" class="form-control">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
	</div>
	
	<div class="col-lg-4">
		<div class="form-group">
			<label for="formSelectIncludeCriteria">Critère d'acceptation</label>
			<select id="formSelectIncludeCriteria" class="form-control">
				<option value="true">Oui</option>
				<option value="false">Non</option>
			</select>
		</div>
	</div>
</div>

<div class="form-group">
	<label for="formTextareaDescription">Description</label>
	<textarea id="formTextareaDescription" class="form-control" rows="6"></textarea>
</div>

<button type="submit" class="btn btn-primary pull-right btnCreateIssue">Envoyé</button>